.typewriter-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.typewriter-text {
  display: inline-block;
  font-size: 21px;

  animation: slide 0.5s ease forwards;
}

@keyframes slide {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
