@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Poppins-regular";
  src: url("assets/data/fonts/Urbanist-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Poppins-regular";
  font-weight: 400;
  font-display: swap;
  letter-spacing: 0.1em;
}
